.header{
	max-width: 1200px;
	margin: 0 auto;
	padding: 15px 20px;
	box-shadow: 0px 0px 10px #dcd7d7;
	border-radius: 20px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: center;
	nav{
		display: flex;
		gap: 20px;
		button{
			font-size: 18px;
			border-bottom: 1px solid #0B1F35;
			border-radius: 10px;
			padding: 0 10px;
		}
	}
}
.logo{
	font-size: 24px;
	font-family: Arial, Helvetica, sans-serif;
	color: #0B1F35;
	font-weight: 700;
}
.logo span{
	font-weight: 400;
}
.button{
	background-color: #EF3124;
	padding: 10px 15px;
	font-size: 18px;
	color: #ffffff;
	border-radius: 12px;
}

@media (max-width: 982px) {
  .header{
		flex-direction: column;
		gap: 20px;
	}
}
@media (max-width: 450px) {
  .header{
		nav{
			flex-direction: column;
		}
	}
}